* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
 list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px 0;
  background-color: white;
  border: none;
  transition: all .5s;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: black;
}